[viewBag]

[builderDetails]
modelClass = "Zed\Galleries\Models\Gallery"
identifierValue = 1
modelKeyColumn = "id"
displayColumn = "name"
notFoundMessage = "Record not found"
==

<section id="galerie">
    <div class="photo-gallery">
            <div class="container py-5">
                <div class="intro">
                    <div class="col text-center">
                        <h1>{{ this.theme.gallery_headline }}</h1>
                        <h2>{{ this.theme.gallery_subheadline }}</h2>     
                    </div>
                </div>
                <div class="row photos pt-5">
                
                    {% set record = builderDetails.record %}
                    {% set displayColumn = builderDetails.displayColumn %}
                    {% set notFoundMessage = builderDetails.notFoundMessage %}
                        
                    {% if record %}

                    {% for image in record.image_gallery %}

                        <div class="col-6 col-md-4 col-lg-3 px-0 img-hover-zoom">
                            <a data-lightbox="photos-gallery" href="{{ image.path }}">
                                <img class="img-fluid" src="{{ image.thumb(300, 230, {'mode':'crop'}) }}" alt="Návrší foto galerie" >
                            </a>
                        </div>
             
       
                    {% endfor %}
                    {% else %}
                        {{ notFoundMessage }}
                    {% endif %}


                </div>
         </div>
    </div> 
</section>