[viewBag]

[builderList]
modelClass = "ZdenekSpisar\Okoli\Models\Okoli"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<section id="okoli">
        <div class="section-okoli">
                <div class="container py-5">
                    <div class="row">
                        <div class="col text-center">
                            <h1>{{ this.theme.vicinity_headline }}</h1>
                            <h2>{{ this.theme.vicinity_subheadline }}</h2>     
                        </div>
                    </div>
                    <div class="row">
  
                      {% for record in records %}
  
                              <div class="col-12 col-sm-6 col-md-4 py-3">
                                <h3 class="">{{ record.name }}</h3>  
                                

                                <img src="{{ record.poster.thumb(350, 260,{'mode':'crop'}) }}" class="pt-2 w-100" alt="Okolí a typy na výlet v okolí Návrší">
                                   {{ html_limit(record.description, 110|raw) }}
                                <button type="button" class="btn-rouded" data-toggle="modal" data-target="#modal{{ record.id }}">číst více</button>    
                              </div>
                              
                              <div class="modal fade" id="modal{{ record.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="modal{{ record.id }}">{{ record.name }}</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="{{  record.poster.thumb(350, 260,{'mode':'crop'}) }}" class="py-3 w-100" alt="">
                                        {{ record.description|raw }}
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn-rouded" data-dismiss="modal">zavřít</button>
                                    </div>
                                  </div>
                                </div>
                              </div>  
                    {% endfor %}
                    </div>
                </div>
            </div> 
  </section>